{
  "SUPABASE_URL": "https://xxxxxxxxxxxxxxxxxxxx.supabase.co",
  "SUPABASE_ANON_KEY": "sb_publishable_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "POSTHOG_API_KEY": "phc_xxx",
  "POSTHOG_HOST": "https://eu.i.posthog.com"
}
